*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.body{
    height: 1770px;
}
.iconfont
{
    font-size:50px !important;
    margin-top: 15px;
}
/* 用于关闭小页面的叉叉 */
.chacha{
    width: 50px;
    height: 50px;
}
.bigbox{
    height: 1770px;
    width: 100%;
    /* background-color: red; */
}
.top{
    width: 100%;
    height:6%;
    /* background-color: red; */
    display: flex;
}
.top_left{
    width: 31%;
    text-align: center;
    /* background-color: blue; */
}
.top_left_photo{
    width: 50%;
}
.top_mid{
    width:39% ;
}
.top_right{
    width:30%;
    display: flex;
    padding-top: 10px;
}
.top_right_word{
    border-radius: 30px;
    border: 7px solid #DCB084;
    color: #DCB084;
    font-family: Inter;
    font-weight: black;
    font-size: 30px;
    line-height: 240%;
    letter-spacing: 0px;
    height: 70%;
    width: 20%;
    text-align: center;
    margin-right: 20px;
}
/* 占空位 */
.top_right_word1{
    height: 70%;
    width: 20%;
}
.mid{
    width: 100%;
    height: 86%;
    /* background-color: green; */
    display: flex;
}
.mid_left{
    width: 31%;
    height: 100%;
    /* background-color: antiquewhite; */
    padding-left: 9%;
    padding-top: 4%;
}
.mid_left_line{
    /* background-color: green; */
    height: 70px;
    display: flex;
}
/* .mid_left_img_left{
    height: 70px;
    background-color: red;
} */
.mid_left_line_img1{
    height: 60%;
    width: auto;
}
.mid_left_line_img2{
    height: 40%;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
}
.mid_mid{
    width: 57%;
    height: 100%;
    /* background-color: aqua; */
    position: relative;
    

}

.denglu{
    width: 600px;
    height: 600px;
    background: #A8A8A8;
    position: absolute;
    display: none;
    
}
.denglu_1{
    height:200px ;
    width: 600px;
    /* background-color: red; */
    display: flex;
}
.denglu_1_1{
    height:200px;
    width:550px ;
    
    /* background-color: black; */
}
.denglu_1_1_1{
    background-color: white;
    width: 400px;
    height: 80px;
    margin-top: 50px;
    margin-left: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
}
.denglu_1_2{
    height:200px;
    width:50px ;
    
    /* background-color: green; */
}
.denglu_2{
    height: 100px;
    width: 600px;
    /* background-color: green; */
    display: flex;
}
.denglu_2_word{
    width: 200px;
    height: 50px;
    text-align: center;
    color: #444444;
font-family: Inter;
font-weight: regular;
font-size: 30px;
line-height: normal;
letter-spacing: -1.5px;
    line-height: 50px;
    margin-top: 25px;
}
.denglu_email{
    height: 40px;
    margin-top: 30px;
    width: 300px;
}
.denglu_password{
    height: 40px;
    margin-top: 30px;
    width: 300px;
}
.denglu_3{
    height: 200px;
    width: 600px;
    /* background-color: red; */
}
.denglu_3_1{
    background-color: white;
    width: 200px;
    height: 80px;
    margin-top: 50px;
    margin-left: 180px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
}
.zhuce{
    width: 600px;
    height: 700px;
    background: #A8A8A8;
    position: absolute;
    display: none;
}
.zhuce_3_1{
    background-color: white;
    width: 200px;
    height: 80px;
    margin-top: 50px;
    margin-left: 180px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
}
.zhuce_email{
    height: 40px;
    margin-top: 30px;
    width: 300px;
}
.zhuce_password1{
    height: 40px;
    margin-top: 30px;
    width: 300px;
}
.zhuce_password2{
    height: 40px;
    margin-top: 30px;
    width: 300px;
}
.mid_mid_top{
    height: 80px;
    width: 100%;
    /* background-color: green; */
    display: flex;
}
.mid_mid_top_left{
    width: 500px;
    /* background-color: yellow; */
    display: flex;
}
.search{
    border-radius: 20px;
    background: #F3F3F3;
    box-shadow: 4px 4px 10px 0px #0000003F;
    font-size: 20px;
    height: 50%;
    width: 300px;
    margin-left: 150px;
    margin-top: 20px;
    padding-left: 10px;
}
.mid_mid_top_right{
    width: 300px;
    display: flex;
    margin-left: 100px;
    margin-top: 10px;
    /* background-color: green; */
}
.mid_mid_top_right_1{
    border-radius: 20px;
    background: #DCB084;
    width: 90px;
    height: 50px;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: regular;
    font-size: 30px;
    letter-spacing: -1.5px;
    text-align: center;
    line-height: 50px;
}
.mid_mid_top_right_2{
    width: 82px;
    height: 42px;
    border-radius: 20px;
    border: 4px solid #DCB084;
    color: #DCB084;
    font-family: Inter;
    font-weight: regular;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
}
.mid_mid_mid{
    width: 800px;
    height: 600px;
    margin-left: 30px;
    border-radius: 20px;
    background: #E9DCCF;

}
.mid_mid_mid_top{
    width: 800px;
    height: 50px;
    /* background-color: green; */
    color: #444444;
    font-family: Inter;
    font-weight: regular;
    font-size: 30px;
    line-height: normal;
    letter-spacing: 0px;
    line-height: 50px;
    padding-left: 20px;
}
/* 图书搜索结果 */
.mid_mid_mid_1{
    display: flex;
    width: 800px;
    height: 200px;
    /* background-color: red; */
}
.mid_mid_mid_2{
    width: 160px;
    /* background-color: green; */
    height: 200px;
    padding-left: 20px;
}
.mid_mid_mid_2_photo{
    border-radius: 10px;
    background: #729598;
    box-shadow: 0px 4px 4px 0px #0000003F;
    width: 110px;
    height:140px ;
    /* background-color: yellow; */
}
.mid_mid_mid_2_photo_1{
    border-radius: 10px;
}
.mid_mid_mid_2_word{
    width: 130px;
    height:25px ;
    /* background-color: white; */
    color: #444444;
    font-family: Inter;
    font-weight: regular;
    font-size: 15px;
    line-height: normal;
    letter-spacing: -1.5px;

}
/* 用来填充“图书”中的书名 */
.mid_mid_mid_2_word_1{

}
/* 用来填充“图书”中的作者 */
.mid_mid_mid_2_word_2{
    
}
/* 账号搜索结果 */
.mid_mid_mid_3{
    width: 780px;
    height: 130px;
    display: flex;
    /* background-color: white; */
}
.mid_mid_mid_4{
    width: 260px;
    height: 130px;
    /* background-color: green; */
    display: flex;
}
.mid_mid_mid_4_1{
    width: 100px;
    height: 130px;
    /* background-color: red; */
}
.mid_mid_mid_4_1_photo{
    width: 80px;
    height: 80px;
    background: #729598;
    margin-left: 10px;
    border-radius: 40px;
}
.mid_mid_mid_4_1_photo_1{
    border-radius: 50%;
}
.mid_mid_mid_4_1_word{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background: #E9DCCF;
    text-align: center;
    line-height: 30px;
}
.mid_mid_mid_4_2{
    width: 150px;
    height: 90px;
    margin-top: 10px;
    border-radius: 20px;
    background: #E9DCCF;
    color: #444444;
    font-family: Inter;
    font-weight: regular;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -1.5px;

}
.mid_mid_mid_4_2_word_1{
    width: 150px;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}
.mid_mid_mid_4_2_word_2{
    width: 150px;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}
.mid_right{
    width:12%;
    height: 100%;
    
    /* background-color:yellow ; */
}
.bot{
    width: 100%;
    height: 8%;
    /* background-color: blue; */
    margin: auto;
}