*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/* 用于关闭小页面的叉叉 */
.chacha{
    width: 50px;
    height: 50px;
}
.bigbox{
    height: 1770px;
    width: 100%;
    /* background-color: red; */
}
.top{
    width: 100%;
    height:6%;
    /* background-color: red; */
    display: flex;
}
.top_left{
    width: 31%;
    text-align: center;
    /* background-color: blue; */
}
.top_left_photo{
    width: 50%;
}
.top_mid{
    width:39% ;
}
.top_right{
    width:30%;
    display: flex;
    padding-top: 10px;
}
.top_right_word{
    border-radius: 30px;
    border: 7px solid #DCB084;
    color: #DCB084;
    font-family: Inter;
    font-weight: black;
    font-size: 30px;
    line-height: 240%;
    letter-spacing: 0px;
    height: 70%;
    width: 20%;
    text-align: center;
    margin-right: 20px;
}
.mid{
    width: 100%;
    height: 86%;
    /* background-color: green; */
    display: flex;
}
.mid_left{
    width: 31%;
    height: 100%;
    /* background-color: antiquewhite; */
    padding-left: 9%;
    padding-top: 4%;
}
.mid_left_line{
    /* background-color: green; */
    height: 70px;
    display: flex;
}
/* .mid_left_img_left{
    height: 70px;
    background-color: red;
} */
.mid_left_line_img1{
    height: 60%;
    width: auto;
}
.mid_left_line_img2{
    height: 40%;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
}
.mid_mid{
    width: 57%;
    height: 100%;
    /* background-color: aqua; */
    position: relative;
}
.denglu{
    width: 600px;
    height: 600px;
    background: #A8A8A8;
    position: absolute;
    display: none;
    
}
.denglu_1{
    height:200px ;
    width: 600px;
    /* background-color: red; */
    display: flex;
}
.denglu_1_1{
    height:200px;
    width:550px ;
    /* background-color: black; */
}
.denglu_1_1_1{
    background-color: white;
    width: 400px;
    height: 80px;
    margin-top: 50px;
    margin-left: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
}
.denglu_1_2{
    height:200px;
    width:50px ;
    
    /* background-color: green; */
}
.denglu_2{
    height: 100px;
    width: 600px;
    /* background-color: green; */
    display: flex;
}
.denglu_2_word{
    width: 200px;
    height: 50px;
    text-align: center;
    color: #444444;
font-family: Inter;
font-weight: regular;
font-size: 30px;
line-height: normal;
letter-spacing: -1.5px;
    line-height: 50px;
    margin-top: 25px;
}
.denglu_email{
    height: 40px;
    margin-top: 30px;
    width: 300px;
}
.denglu_password{
    height: 40px;
    margin-top: 30px;
    width: 300px;
}
.denglu_3{
    height: 200px;
    width: 600px;
    /* background-color: red; */
}
.denglu_3_1{
    background-color: white;
    width: 200px;
    height: 80px;
    margin-top: 50px;
    margin-left: 180px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
}
.xitongshuoming{
    width: 600px;
    height: 600px;
    border-radius: 10px;
    background: #E9DCCF;
    position: absolute;
    display: none;
    
}
.xitong{
    height:150px ;
    width: 600px;
    /* background-color: red; */
    display: flex;
}
.xitong_1{
    height:200px;
    width:500px ;
    /* background-color: black; */
}
.xitong_1_1{
    width: 400px;
    height: 80px;
    margin-top: 40px;
    margin-left: 70px;
    line-height: 80px;
    color: #444444;
    font-family: Inter;
    font-weight: regular;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.5px;
    text-align: left;

}
.xitong_1_2{
    height:200px;
    width: 100px ;
    padding-top: 40px;
    /* background-color: green; */
}
.xitong_2{
    padding-left: 50px;
    font-size: 20px;
}
.zhuce{
    width: 600px;
    height: 700px;
    background: #A8A8A8;
    position: absolute;
    display: none;
}
.zhuce_3_1{
    background-color: white;
    width: 200px;
    height: 80px;
    margin-top: 50px;
    margin-left: 180px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
}
.zhuce_email{
    height: 40px;
    margin-top: 30px;
    width: 300px;
}
.zhuce_password1{
    height: 40px;
    margin-top: 30px;
    width: 300px;
}
.zhuce_password2{
    height: 40px;
    margin-top: 30px;
    width: 300px;
}
.mid_mid_top{
    height: 100px;
    margin-left: 200px;
    margin-top: 30px;
    display: flex;
}
.mid_mid_top_left{
    border-radius: 30px;
    background: #DCB084;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: black;
    font-size: 30px;
    margin-left: 125px;
}
.mid_mid_top_right{
    border-radius: 30px;
border: 8px solid #DCB084;
    width: 184px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #DCB084;
    font-family: Inter;
    font-weight: black;
    font-size: 30px;
    margin-left: 20px;
}
.mid_mid_mid{
    width: 800px;
    height: 600px;
    margin-left: 30px;
    /* background-color: red; */
}
.mid_mid_mid_1{
    display: flex;
    width: 800px;
    height: 200px;
    /* background-color: red; */
}
.mid_mid_mid_2{
    width: 160px;
    /* background-color: green; */
    height: 200px;
    padding-left: 20px;
}
.mid_mid_mid_2_photo{
    border-radius: 10px;
    background: #729598;
    box-shadow: 0px 4px 4px 0px #0000003F;
    width: 110px;
    height:140px ;
    cursor: pointer;
    /* background-color: yellow; */
}
.mid_mid_mid_2_photo_1{
    border-radius: 10px;
}
.mid_mid_mid_2_word{
    width: 130px;
    height:25px ;
    /* background-color: green; */
    color: #444444;
    font-family: Inter;
    font-weight: regular;
    font-size: 15px;
    line-height: normal;
    letter-spacing: -1.5px;
}
/* 用来填充“图书”中的书名 */
.mid_mid_mid_2_word_1{
    
}
/* 用来填充“图书”中的作者 */
.mid_mid_mid_2_word_2{
    
}
.mid_right{
    width:12%;
    height: 100%;
    /* background-color:yellow ; */
}
.bot{
    width: 100%;
    height: 8%;
    /* background-color: blue; */
    margin: auto;
}

/* 个人账号 */
.person_right_top{
    height: 150px;
    width: 53.2%;
    margin-top: 10px;
    margin-left: 7.8px;
    /* background-color: red; */
}
.person_right_top_left{
    width: 31.45%;
    height: 100%;
    float: left;
    /* background-color: green; */
}
.person_right_top_left1{
    height: 70%;
    width: 70%;
    border-radius: 100%;
    background-color: #729598;
    margin-left: 18px;
}
.person_right_top_left2{
    height: 38px;
    width: 95%;
    border-radius: 10px;
    background-color: #e9dccf;
    margin-top: 3px;
    text-indent: 3px;
    line-height: 38px;
}
.person_right_top_right{
    height: 98%;
    width: 68.55%;
    float: right;
    border-radius: 10px;
    background-color: #e9dccf;
    text-indent: 3px;
    line-height: 30px;
}
.person_right_top_right1{
    width: 100%;
    height: 50%;
    
}
.person_right_top_right2{
    width: 100%;
    height: 50%;
}
.person_right_top1{
    width: 150px;
    height: 30px;
    background-color: #e9dccf;
    line-height: 30px;
    text-align: center;
    margin-left: 7.8px;
    margin-top: 20px;
    border-radius: 8px;
}
.person_right_top2{
    width: 700px;
    height: 100px;
    background-color: #e9dccf;
    line-height: 100px;
    text-align: center;
    margin-left: 7.8px;
    margin-top: 20px;
    border-radius: 8px;
}
.person_book_lnquiry{
    width: 700px;
    height: 200px;
    background-color: #e9dbce;
    border-radius: 10px;
    margin-left: 7.8px;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}
.person_book_lnquiry1{
    height: 188px;
    width: 124px;
    border-radius: 10px;
    margin-left: 7.8px;
    margin-top: 5px;
    /* background-color: red; */
}
.person_book_lnquiry1_book{
    height: 140px;
    width: 110px;
    border-radius: 10px;
    background-color: #729598;
    border-radius: 5px;
}
.person_book_lnquiry1_name{
    height: 24px;
    line-height: 24px;
    /* background-color: green; */
}
.person_book_lnquiry1_author{
    height: 24px;
    line-height: 24px;
    /* background-color: green; */
}
.person_comments{
    width: 700px;
    height: 50px;
    background-color: #e9dbce;
    border-radius: 10px;
    margin-top: 2%;
    line-height: 50px;
    text-align: center;
    margin-left: 6.8px;
}
.person_cancel{
    height: 40px;
    width: 25.2%;
    background-color: #e9dccf;
    text-align: center;
    margin-top: 2%;
    line-height: 40px;
    border-radius: 8px;
    margin-left: 7.8px;
}
/* 个人账号 */
